@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');
:root{
  --color-one:#666666;
  --color-two:#262626;
  --color-three:#703bf7;
  --light:#fff;
  --color-four:#1a1a1a;
  --color-five:#999999;
  --color-six:#ffe500;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Urbanist', sans-serif;
    background-color: var(--color-two);
  }
  
  
  p {
    font-family: 'Urbanist', sans-serif;
    font-weight: 400;
  }
  