:root {
    --color-one: #666666;
    --color-two: #262626;
    --color-three: #703bf7;
    --neutral: #fff;
    --color-four: #1a1a1a;
    --color-five: #999999;
    --color-six: #ffe500;
  }
  
body{
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 0;
}
.ContactUsHero-container{
width: 100%;
margin: 0 auto;
padding: 0 2rem;
}

.ContactUsHero-container h1{
font-size: 2.5em;
margin-bottom: 1rem;
margin-top: 4rem;
}
.ContactUsHero-container p{
    font-size: 18px;
    color: #999999;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.contact-options{
    color: var(--neutral);
    background-color: var(--color-four);
    width: 100%;
    height: auto;
    padding: 2rem 0;
    margin: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-box-container{
display: flex;
align-items: stretch;
gap: 1rem;
}
.contact-boxes{
    border-radius: 12px;
    background-color: var(--color-two);
    width: 350px;
    height: 140px;
    border: 1px solid var(--color-one);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.3);
    transition: 0.2s;
}
.contact-boxes:hover{
    transform: scale(1.05);
}
.icon-arrow{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.icon-arrow img{
    width: 24px;
}
.icon img{
    margin-bottom: 0.5rem;
}
.icon p{
    margin: 0;
    color: var(--neutral);
}
@media (max-width:768px) {
    .contact-boxes{
        width: 100%;
    }
    .contact-box-container{
        flex-direction: column;
        align-items: center;
    }
    
}